$icon:'../resource/icons/';
$image:'../resource/images/';

$title:#364968;
$text:#687EA2;
$main:#4FA1EE;
$gray:#C5CDDA;
$white:#F3F7FD;

$darkgray:#676D78;
$darkmain:#268BEA;
$lightermain:#D8EBFE;
$background:#F9FCFF;

$green1:#DCECC8;
$green3:#ADD57F;
$green6:#1C6031;

$blue1:#BEDEF5;
$blue5:#2B74B9;
$blue6:#15499F;

$orange1:#FFE0B1;
$orange6:#C09600;

$yellow1:#FCF9C6;
$yellow6:#F58020;

$violet1:#DFBEDB;
$violet6:#4C2E88;

$teal1:#B3E0DD;
$teal6:#0C4E42;

$red1:#FACDD4;
$red6:#B72025;

$grey2:#EEEEEE;
$black6:#000000;











