
//background 
$background: #FAFAFA;
$background-gradient: linear-gradient(to bottom, rgb(45, 41, 125) 0%, rgba(45, 41, 125, 0.8) 100%);


//button
$red: #E45868;
$dark-red: #C54352;
$dark:#1A175D;
$darkBackground:#221E6A;

//text
$spanRed:#F55868;
$textWhite:white;
$textBlue:#0B3158;
//
$light-blue: #6283E5;
$dark-blue: #2D297D;
$addit-blue: #006FAB;

$title: #2D297D;

$border: #BAC4DF;

$gray:#BAC4DF;

$dark-gray: #8598AB;

