.footer{
    width: 100%;
    background: $main;
    background-image: url($icon+'footerback.png');
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: bottom;
    
    &__top{
        >div{
            width: calc(65% / 3);  
            padding-right: 40px;
            padding-left: 20px;
        }
        transition: all 0.3s;
        a,p{
            display: block;
            margin: 0;
            color:$white
        }
.title {
    &.main{
        margin-top: 0;
        margin-bottom: 15px;
    }
    margin-top: 18px;
    font-weight: 600;
font-size: 18px;

}
.comment{
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    &:hover{
text-decoration: underline;
text-decoration-color: $white;
    }
}
.inform{
  width: 35%;  
    .comment{
color: $lightermain;
}}

    }
    &__bottom{
        margin-left: 20px;
        margin-right: 20px;
        border-top: 1px solid rgba(216, 235, 254,0.2);
        color:$lightermain;
    }
}