@import '../scss/variables.scss';
.block__shortinformation-news{
    .wrapper{    width: 45%;}
    .news{
    &__item{
        height: calc((100% / 3) - (48px / 3));
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;

        }
        p{
            font-size: 14px;
            color:$white;
            margin:0;
        }
        .content{
            height: 100%;
            padding:20px;
            background: rgba(0, 0, 0, 0.7);
        }
        
        
        
        &.active{
            .content{
                background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                padding:30px;

            
            .title{
color:$white;
font-size: 22px;
            }
            .comment{
                color:$gray;
font-size: 14px;
            }
            .inform{
                justify-content: space-between;
                p{ color:$darkgray;
                    font-size: 14px;}
                    .subscribes__count{
                        &:before{
                            vertical-align: sub;
                            padding-right: 10px;
                            content:url($icon+"subscribes.svg")
                        }
                    }
                    .docs__count{
                        &:before{
                            vertical-align: sub;
                            padding-right: 10px;
                        padding-left: 24px;
                        content:url($icon+"docs.svg")
                    }}
                    .teacherName{&:before{
                        vertical-align: sub;
                        padding-right: 10px;
                        padding-left: 24px;
                        content:url($icon+"teacherName.svg")
                    }}
               
            }}
            height: 100%;
        }
    }

}
.more{
    text-align: end;
    >span{
    vertical-align: super;
}
}
}