@import '../scss/variables.scss';
span{
    color:$main
}
.text{
   
    &__currentDay{
        font-size: 18px;
        color:$darkgray;
    }
    &-center{
        text-align: center;
    }
    &__title{
        font-size: 18px;
        color:$title;
        font-weight: bold;
        &-block{
            font-size: 22px;
        }
    }
    &__comment{
        font-size: 14px;
        color:$text
    }
    &__profile{
        font-size: 16px;
        &-name{
            color:$blue5
        }
        &-number{
           
            color:$darkgray
        }
    }
    &__gray{
        color:$gray
    }
    
    
    &__inform{
        height: 100%;
        vertical-align: -webkit-baseline-middle;
        text-align: end;
        font-size: 14px;
        &-type{

color:$darkgray
        }
        &-value{
            color:$title;
            font-weight: bold;
        }

    }
    &__large{
        
        font-size:32px;
            }
    
}