@import '../scss/variables.scss';

a.button-blue{
    &:hover{
        color: $textWhite;
    }
}

.button{
    font-family: 'Muller';
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    padding: 12px 28px;
    transition: .3s;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p ~ svg{
        margin-left: 30px;
    }

    &-fill{
        border: none;
        background-color: $red;
        padding-top: 12px;
        padding-bottom: 12px;

        &:hover{
            background-color: $dark-red;
            box-shadow: 0px 3px 9px #68101A2E;
        }
        &:active{
            background-color: $red;
            box-shadow: 0px 3px 9px #68101A2E;
        }
    }
    &-icon{
        padding: 12px 15px;
        border-color: rgba($color: #fff, $alpha: .1);
        position: relative;

        &.active{
            border-color: $red;
        }

        &.active .notification-block{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #fff;
            color: $textBlue;
            font-size: 11px;
            position: absolute;
            right: -6px;
            top: -6px;
            line-height: 1em;
        }
    }

    &-toggle{
        height: 51px;
        border: none;
        padding-left: 16px;
        padding-right: 16px;
        background-color: $red;
        display: flex;
        align-items: center;
        position: relative;

        span{
            display: block;
            width: 20px;
            height: 2px;
            background-color: #fff;
            position: relative;

            &::before, &::after{
                content: '';
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #fff;
                left: 0;
            }

            &::before {
                top: -8px;
            }

            &::after {
                top: 8px;
            }

        }

        &:hover{
            background-color: $dark-red;
            box-shadow: 0px 3px 9px #68101A2E;
        }
        &:active{
            background-color: $red;
            box-shadow: 0px 3px 9px #68101A2E;
        }

        &__data{
            position: absolute;
            right: -12px;
            top: -9px;
            width: 333px;
            height: auto;
            border-radius: 10px;
            background-color: #fff;
        }
    }
    .arrow{
        width: 48px;
        height: 48px;
        background-color: rgba($color: #FFF, $alpha: .2);
        border-radius: 10px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(-45deg);
            right: 19px;
            top: 16px;
        } 
    }

    &__wrapp-text{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg{
            margin-right: 15px;
        }

        p{
            margin-right: 35px;
        }
    }

    &-blue{
        border-radius: 0;
        background-color: $light-blue;
        width: max-content;

        &:hover{
            background-color: #4e72dc;
            color: #fff;
            box-shadow:none;
        }
        &:active{
            background-color: $addit-blue;
        }
    }

    &-white{
        border-radius: 0;
        background-color: #fff;
        width: fit-content;
        color: $light-blue;

        &:hover{
            background-color: rgb(221, 239, 255);
            box-shadow:none;
            color: $light-blue;
        }
        &:active{
            background-color: #fff;
        }
    }


    &-border{
        border-radius: 0;
        color: $dark-blue;
        border: 1px solid $border;
    }

    
    
&-register{
    width: 350px;
    height: 60px;
}
    &-dark{
        background-color: $dark;
        box-shadow: 0px 3px 6px #0A2F6529;
border-radius: 10px;
width: 220px;
height: 50px;
margin: auto;
& p{
    font-size: 16px;
}
    } 
}

// Авторизация/регистрация

.middle__button{
    position: relative;
    &:after{
        content:url(../resources/icons/next.svg);
        font-size: 23px;
        width: 50px;
        height: 50px;
        padding:13px ;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        top:5px;
        right:5px;
    }
}
.buttonUserMode{
   
   .col:nth-child(1){
       padding:0;
padding-right: 5px;
   }
   .col:nth-child(2){
    padding:0;
    padding-left: 5px;
           }
        
        .button{
            border-radius: 10px;
        }}

@media(max-width:768px)
{
    .button
    {
        &-register{
            width: 280px;
            height: 50px;
        }
    }
    .middle__button{
        &:after{
            font-size: 16px;
            width: 40px;
            height: 40px;
            padding: 10px;
            
        }
    }
}


//Нижние кнопки в авторизации
@media(min-width: 769px){
    
    .bottom-logIn, .buttonUserMode{
        width: 450px;
     
        .button{
            border-radius: 10px ;
        }
    }
}
