@import '../scss/variables.scss';
.footer{
    background-color:$dark-blue ;
    &-bottom{
        background-color:$darkBackground ;
    }
    p{
        font-size: 18px;
    }
    .socialButton{
        &__facebook{
            background: #1976D2;
            width: 25px;
            height: 25px;
        }
        img{
            width: auto;
            height: 25px;
        padding:0;
        background: none;
        margin: auto;
       
    }
    
    }
}
.span{
    color:$red;
}
.opacity-7{
    opacity: 70%;
}
.opacity-5{
    opacity: 50%;
}