@import '../scss/variables.scss';

main{
    overflow: hidden;
}

.main-screen{
    position: relative;
    overflow: hidden;
    background-image:  linear-gradient(90deg, $dark-blue, rgba(255, 255, 255, 0)), url(../resources/images/stadion.png);
    background-size: cover;
    background-position: center;

    .block-gradient{
        position: absolute;
        top: 0;
        left: 0;
        width: 140%;
        height: 100%;
        background: linear-gradient(90deg, $dark-blue, rgba(255, 255, 255, 0));
    }

    &__title{
        z-index: 10;
        h1{
            font-size: 47px;
        }

        .button{
            border-radius: 0;
            display: flex;
            padding: 16px;
            padding-left: 22px;
            display: flex;
            align-items: center;
            width: fit-content;

            p{
                font-size: 25px;
            }
        }
    }

    .line{
        width: 155px;
        height: 4px;
        background-color: $red;
        margin-top: 35px;
        margin-bottom: 35px;
        z-index: 100;
    }

    &__slider{
        z-index: 100;
    }

    .container{
        padding: 23vh 0 34vh 0;
    }
}

.background-blocks{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
   
    &__item{
        position: absolute;

        &:first-child{
            height: 1300px;
            width: 265px;
            background-color: $red;
            left: -160px;
            top: -90px;
            transform: rotate(-16deg);
        }

        &:nth-child(2){
            height: 330px;
            width: 265px;
            background-color: #fff;
            bottom: -220px;
            left: 260px;
            transform: rotate(-16deg);
        }

        &:last-child{
            height: 1000px;
            width: 240px;
            background-color: #fff;
            top: -272px;
            right: -110px;
            transform: rotate(-16deg);
        }
    }
}

.section-title{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title{
        color: $dark-blue;
        font-size: 30px;
        text-align: center;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;

        &-white{
            color: $textWhite;
        }

        span{
            color: $red;
        }
    }

    .subtitle{
        color: $dark-blue;
        margin-top: 5px;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 22px;
        text-align: center;

        &-white{
            color: $textWhite;
        }

        &-red{
            color: $red;
        }
    }

    .line{
        margin-top: 30px;
        width: 55px;
        height: 3px;
        background-color: $red;
    }
}

.background-block{
    position: absolute;
    background-color: $red;
    width: 265px;
    height: 610px;
    transform: rotate(-15deg);
}

section.work{
    background-color: $background;
    padding-bottom: 115px;

    .work-list{
        margin-top: 85px;

        &__item{
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0px 5px 20px #1f3c8f17;;
        }

        .work-item{
            padding: 0;
            position: relative;

            &__number{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $red;
                width: 70px;
                height: 70px;
                border-radius: 10px;
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                top: -35px;
                left: 42%;
            }

            &__icon{
                margin-bottom: 18px;
            }
            
            &__body, &__footer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                color: $textBlue;
            }

            &__body{
                padding: 65px 60px 15px 60px;
                text-transform: uppercase;
                text-align: center;

                h4 {
                    font-weight: 700;
                }
            }

            &__footer{
                border-top: 1px solid rgba($color: $border, $alpha: 0.3) ;
                padding: 20px 60px;
                text-align: center;
                font-size: 20px;
            }

        }
    }

    .video-section{
        margin-top: 30px;
        position: relative;
    }

    .video-block{
        position: relative;
        overflow: hidden;
        border-radius: 25px;
        box-shadow: 0px 10px 35px rgba($color: #162C6A, $alpha: .3) ;

        &__img{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .wrapp-button{
        position: absolute;
        bottom: 30px;

        .button{
            border-radius: 0;
            padding: 17px 35px;
            width: max-content;
        }
    }
}


section.map-objects{

    background-image: url(../resources/images/hockey-players.png);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

    .map-section{
        margin-top: 40px;
        padding-bottom: 90px;
    }
    
    .map-block{
        position: relative;

        img{
            width: 100%;
        }

        .button{
            padding-right: 16px;
            border-radius: 0;
            justify-content: space-between;
        }
    }

    .wrapp-button{
        width: 100%;
        position: absolute;
        bottom: 260px;
    }

    .background-block{
        left: -10%;
        top: 10%;
    }
}


section.arena {
    background-color: #fff;
    position: relative;
    padding: 50px 0;
    z-index: 5;

    .arena{
        &__img{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            z-index: -1;
        }

        &__logo{
            margin-right: 30px;
        }

        &-cols{
            display: flex;
        }

        &__name{
            color: $addit-blue;
            font-size: 105px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 0.95em;
            margin-bottom: 40px;

            span{
                color: #009EE1;
            }
        }

        &__lines{
            position: absolute;
            top: 0;
            right: 34%;
        }
    }
    

    .button{
        border-radius: 0;
    }
}



section.football{
    padding: 120px 0 100px 0;
    background-image: url(../resources/images/football.jpg);
    z-index: 10;
    background-position: left;

    .banner__picture{
        left: 5%;
    }

    .background-block{
        right: -110px;
        bottom: -50px;
        height: 210px;
        width: 150px;
        transform: rotate(339deg);
    }
}

.swiper-pagination-bullet{
    height: 4px;
    border-radius: 2px;
    transition: .3s;
    width: 30px;
    background-color: rgba($color: $light-blue, $alpha: 1) ;

    &-active{
        width: 135px;
        background-color: $light-blue;
    }
}

section.popular-objects{

    background-color: #fff;
    padding-bottom: 195px;
    box-shadow: 0px 5px 50px rgba($color: #1F3C8F, $alpha: .05);
    overflow: hidden;


    .objects-categories-list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 60px 0 45px 0;
        flex-wrap: wrap;

        &__item{
            &:not(:first-child){
                margin-left: 10px;
            }
        }
    }

    .swiper-container {
        width: 112%;
        height: 100%;
    }

    .swiper-wrapper {
        margin-top: 30px;
        padding: 15px 0 30px 15px;
    }

    // .swiper-slide {
    //     text-align: center;
    //     font-size: 18px;
    //     background: rgb(175, 175, 175);

    //     display: -webkit-flex;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     height: 300px;
    // }

    // .swiper-slide img {
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
    .swiper-pagination {
        position: absolute;
        text-align: left;
        top: 0;
        z-index: -5;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 50px;
        height: 92%;
        width: 250px;
        transition: .3s;

        &::after{
            display: none
        }

        .arrow{
            width: 55px;
            height: 55px;
            background-color: #fff;
            border-radius: 10px;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                top: 20px;
                right: 23px;
                border-right: 3px solid $light-blue;
                border-bottom: 3px solid $light-blue;
            }
        }
    }

    .swiper-button-next{
        right: -1px;
        background: linear-gradient(270deg, #ffffff, rgba(255, 255, 255, 0));
        justify-content: flex-end;

        .arrow{
            &::after{
                transform: rotate(-45deg);
            }
        }
    }

    .swiper-button-prev{
        left: -1px;
        background: linear-gradient(90deg, #ffffff, rgba(255, 255, 255, 0));
        justify-content: flex-start;

        .arrow{
            &::after{
                right: 16px;
                transform: rotate(135deg);
            }
        }
    }

    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        display: none;
        opacity: 0;
    }
}


section.warranty{
    background-color: $background;
    padding-bottom: 100px;

    .warranty-blocks{
        &__item{
            background-color: #fff;
            box-shadow: 0px 5px 50px rgba($color: #1F3C8F, $alpha: .05);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .warranty-block{
        padding: 30px;
        z-index: 10;

        &__icon{
            padding: 16px;
            border-radius: 10px;
            background-color: $light-blue;
            box-shadow: 0px 3px 45px rgba($color: #4653C2, $alpha: .4);
            margin-bottom: 24px;
        }

        &__text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        &__name{
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            color: $dark-blue;
        }

        &__content{
            font-size: 22px;
            color: $dark-blue;
            text-align: center;
        }
    }
}

section.chart{
    background-color: #fff;
    padding-bottom: 110px;

    .dropdowns{
        margin: 50px 0 40px 0;
    }
}

section.partners{
    background-color: $background;
    padding-bottom: 90px;

    .swiper-container {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
        margin-top: 30px;
    }

    .swiper-slide {
        //text-align: center;
        font-size: 18px;
        background: #fff;
    }

    .swiper-button-prev, .swiper-button-next{
        top: auto;
        bottom: 70px;
        width: 55px;
        height: 55px;
        background-color: #fff;
        border-radius: 10px;

        &::after{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            top: 20px;
            right: 23px;
            border-right: 3px solid $light-blue;
            border-bottom: 3px solid $light-blue;
        }
    }

    .swiper-button-next{
        right: 20px;

        &::after{
            transform: rotate(-45deg);
        }
    }

    .swiper-button-prev{
        left: 20px;
        
        &::after{
            right: 16px;
            transform: rotate(135deg);
        }
    }

    .partners-slides__item{
        border-radius: 25px;
        overflow: hidden;
    }

    .partners-slide{
        &__img{
            position: absolute;
            right: 0;
            z-index: 0;
            height: 100%;
        }

        &__logo{
            margin-right: 20px;
            z-index: 10;

            img{
                height: 100%;
            }
        }

        &__blur{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 50%;
            background-color: #fff;

            &::after{
                content: '';
                position: absolute;
                left: 100%;
                top: 0;
                width: 100%;
                height: 100%;
                height: 100%;
                background: linear-gradient(90deg, #ffffff, rgba(255, 255, 255, 0));
            }
        }

        &__text{
            z-index: 10;
        }

        &__name{
            color: #006FAB;
            font-size: 78px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 0.95em;
            margin-bottom: 15px;
            text-align: left;
            width: 40%;

            span{
                color: #009EE1;
            }
        }

        &__descr{
            text-align: left;
            color: $addit-blue;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 28px;
            width: 65%;
        }

        &__content{
            z-index: 1;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fff;
            padding: 50px;
            padding-left: 105px;
        }

        &__addit-img{
            position: absolute;
            top: 0;
            right: 30%;
            width: auto;
            height: 230px;
        }
    }

    .partners-buttons{
        margin-top: 30px;

        .button{
            justify-content: center;
            font-weight: 400;
        }
    }
}


section.opportunities{
    padding-bottom: 100px;

    .opportunities-blocks{
        margin-top: 50px;

        &__item{
            background-color: #fff;
            border-radius: 15px;
        }
    }

    .opportunities-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;

        &__icon{
            background-color: $light-blue;
            border-radius: 10px;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            box-shadow: 0px 3px 45px rgba($color: #4653C2, $alpha: .4);

            img{
                height: 60%;
            }
        }

        &__text{
            font-weight: 700;
            font-size: 22px;
            color: $dark-blue;
            text-transform: uppercase;
            text-align: center;
            width: max-content;
        }
    }
}


section.survey{
    background-color: $background;
    padding-bottom: 50px;
    position: relative;
    z-index: 5;

    input{
        justify-content: flex-start;
    }

    .survey-form{
        margin-top: 30px;
        background-color: #fff;
        box-shadow: 0px 10px 35px rgba($color: #162C6A, $alpha: 0.15);
    }

    .user-type{

        &__title{
            padding-left: 30px;
            font-size: 20px;
            font-weight: 700;
            color: $dark-blue;

            span{
                font-weight: 300;
            }
        }

        &__list{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            .type-list{
                width: 100%;

                &__item{
                    flex-grow: 1;
                    &:not(:first-child){
                        margin-left: 10px;
                    }
                }
            }
        }

    }

    .button{
        justify-content: center;

        p{
            display: contents;
        }
    }
    
    .background-block{
        z-index: -5;
        bottom: 30%;
        left: 6%;
        height: 321px;
    }
}




















@media (max-width: 1700px){
    .background-blocks{
        &__item{

            &:first-child{
                left: -320px;
                top: -160px;
            }

            &:nth-child(2){
                bottom: -300px;
                left: 100px;
            }

            &:last-child{
                top: -400px;
                right: -190px;
            }
        }
    }
}

@media (max-width: 1440px){

    #slider-object .slider-object__item {
        width: 580px;
        height: 370px;
    }

    section.work .button {
        left: 36%;
    }

    section.arena .arena__lines {
        right: 18%;
    }

    section.map-objects .map-block .button {
        bottom: 200px;
        left: 265px;
    }

    section.partners .partners-slide__addit-img {
        right: 10%;
    }
}

@media (max-width: 1366px){
    .background-blocks{
        &__item{

            &:first-child{
                left: -340px;
                top: -220px;
            }

            &:nth-child(2){
                bottom: -340px;
                left: 80px;
            }

            &:last-child{
                top: -400px;
                right: -190px;
            }
        }
    }

    section.arena .arena__lines {
        right: 20%;
    }
}

@media (max-width: 1200px){

    #slider-object {
        height: 340px;

        .slider-object{
            &__item {
                width: 70%;
                height: 100%;
            }
        }
    }

    .background-blocks{
        &__item{

            &:first-child{
                left: -350px;
                top: -130px;
            }

            &:nth-child(2){
                bottom: -330px;
                left: 70px;
            }

            &:last-child{
                top: -400px;
                right: -190px;
            }
        }
    }

    .main-screen{

        .container{
            padding: 11vh 0 14vh 0;
        }
        
        &__title{

            h1{
                margin-bottom: 40px;
            }
            
            .button{
                margin: 0 auto;
                margin-top: 90px;
            }
        }

        .line{
            margin: 35px auto;
        }
    }

    #object-1:checked ~ #obj-3 {
        transform: translate3d(-25%, 0%, -200px);
    }
    #object-2:checked ~ #obj-1, #object-3:checked ~ #obj-2 {
        transform: translate3d(-25%, 0%, -200px);
    }

    

    section.work .video-block__img {
        img{
            width: 100%;
        }
    }

    section.work .button {
        left: 34%;
    }

    section.arena .arena__lines {
        right: 5%;
    }

    section.map-objects .map-block {

        .wrapp-button{
            bottom: 160px;
        }
    }

    section.map-objects .background-block {
        left: -25%;
        top: 0%;
    }

    section.partners .partners-slide__addit-img {
        right: 0;
        height: 200px;
    }

    .label-checkbox-wrapp__label {
        font-size: 18px;
    }
}

@media (max-width: 992px){

    #slider-object .slide__img img {
        height: 100%;
        width: auto;
    }

    #object-1:checked ~ #obj-2, #object-2:checked ~ #obj-3 {
        .slide__name{
            display: none;
        }
    }

    #object-2:checked ~ #obj-1 {
        .slide__name{
            display: none;
        }
    }

    #object-1:checked ~ #obj-3 {
        .slide__name{
            display: none;
        }
    }

    #object-3:checked ~ #obj-1 {
        .slide__name{
            display: none;
        }
    }

    #object-2:checked ~ #obj-1, #object-3:checked ~ #obj-2 {
        .slide__name{
            display: none;
        }
    }

    #slider-object .slide__name p, #slider-object .slide__name span {
        font-size: 13px;
    }

    #slider-object .slide__logo {
        height: 22px;
    }

    section.work .work-list .work-item__number {
        top: 20px;
        left: 20px;
    }

    section.work .button {
        left: 29%;
        bottom: -25px;
    }

    section.work .button {
        padding: 15px 35px;
    }

    section.arena .arena__lines {
        right: 6%;
    }

    section.map-objects .map-block {

        .wrapp-button{
            bottom: 110px;
        }   

        .button {
            svg{
                height: 25px;
            }
        }
    }

    section.map-objects .background-block {
        left: -35%;
        top: -24%;
    }

    section.partners {
        .partners-slide__name {
            font-size: 50px;
        }

        .partners-slide__descr {
            font-size: 22px;
            width: 75%;
        }

        .partners-slide__logo {
            height: 60px;
        }
    }
}

@media (max-width: 768px){

    .section-title{
        
        .title{
            font-size: 20px;
        }

        .subtitle{
            font-size: 18px;
        }
    }

    .main-screen{
        .container{
            padding: 4vh 0 3vh 0;
        }
    }

    .main-screen__title{
        h1{
            font-size: 42px;
        }
    }

    .main-screen__title .button p {
        font-size: 20px;
    }

    #slider-object .slide__img img {
        height: auto;
        width: 100%;
    }

    #slider-object {
        height: 260px;

        .slide__name{
            left: 0;
            width: -webkit-fill-available;
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px;

            p{
                margin-left: 13px;
            }
        }
    }

    #slider-object .slider-object__item {
        width: 80%;
    }

    #object-1:checked ~ #obj-3 {
        transform: translate3d(-25%, 0%, -200px);
    }

    #object-2:checked ~ #obj-1, #object-3:checked ~ #obj-2 {
        transform: translate3d(-25%, 0%, -200px);
    }

    section.work .button {
        left: 31%;
    }

    section.arena .arena__lines {
        right: 6%;
        width: 50%;
    }

    section.arena .arena__name {
        font-size: 68px;
    }

    section.arena .arena__logo {
        height: 70px;

        img{
            height: 100%;
        }
    }

    section.partners {
        .partners-slide__content {
            padding-left: 40px;
            padding-right: 40px;
        }
        .partners-slide__name {
            font-size: 44px;
        }
        .partners-slide__descr {
            font-size: 17px;
        }
    }

    .label-checkbox-wrapp__label {
        font-size: 16px;
    }
}

@media (max-width: 568px){

    .work, .banner, 
    .arena, .map-objects, 
    .popular-objects, .warranty,
    .chart, .partners,
    .opportunities, .survey{
        .container{
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
        }
    }

    #slider-object {
        height: 200px;

        .slide__name{
            left: 0;
            width: -webkit-fill-available;
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px;

            p{
                margin-left: 13px;
            }
        }
    }

    section.work .button {
        left: 22%;
    }

    section.arena .arena__name {
        font-size: 38px;
    }
    .arena-cols{
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    section.arena .arena__logo {
        height: 40px;
    }

    section.map-objects .map-block {

        .wrapp-button{
            bottom: 65px;
        }

        .button {
            width: 100%;
            padding: 10px 15px;

            p{
                margin-right: 20px;
            }
        }
    }

    section.football {
        padding: 210px 0 100px 0;
    }

    section.football .banner__picture {
        left: 25%;
    }

    section.work .work-list {

        .work-item{
            &__body{
                h4 {
                    font-size: 17px;
                }
            }
            &__icon {
                height: 50px;
                width: auto;
            }
            &__footer {
                font-size: 15px;
            }
        }
    }

    .banner__title {
        font-size: 22px;
    }

    .banner__subtitle {
        font-size: 18px;
    }

    section.warranty{
        .warranty-block{

            flex-direction: row;

            &__icon{
                width: 60px;
                height: 60px;
                padding: 10px;
                margin-bottom: 0;
                margin-right: 25px;

                img{
                    height: 100%;
                }
            }

            &__text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }

            &__name{
                font-size: 17px;
            }

            &__content{
                font-size: 12px;
                text-align: left;
            }
        }
    }

    .banner.hockey {
        padding-top: 140px;

        .banner__picture{
            right: -290px;
            height: 510px;
        }

        .button{
            width: 100%;
            padding: 16px 20px;

            p{
                font-size: 12px;
                //margin-left: 5px;
            }

            svg{
                height: 25px;
                width: 25px;
            }
        }
    }

    .select-wrapper span.select-label {
        font-size: 13px;
        top: -10px;
        left: 14px;
    }
    .select-wrapper .dropdown button.dropdown-toggle {
        font-size: 14px;    
    }
    .select-wrapper .dropdown-item {
        font-size: 14px;
    }

    section.popular-objects{
        padding-bottom: 70px;

        .label-checkbox-wrapp__label{
            font-size: 15px;
        }

        .objects-categories-list {
            justify-content: center;
        }
    }

    section.opportunities {
        .opportunities-block{
            padding: 30px;
        }
        .opportunities-block__icon{
            height: 60px;
            width: 60px;
        }
        .opportunities-block__text {
            font-size: 11px;
        }
    }

    section.partners {
        .partners-slide__name {
            font-size: 38px;
        }
        .partners-slide__descr {
            width: 100%;
            font-size: 16px;
        }

        .partners-buttons{
    
            .button{
                font-size: 13px;
            }
        }
    }

    section.chart {
        padding-bottom: 50px;
    }

    section.survey{
        .input-block label {
            font-size: 13px;
            top: -10px;
            left: 15px;
        }
        
        .input-block input, .input-block textarea {
            font-size: 14px;
        }

        .input-block textarea {
            &.large{
                padding-top: 30px;
            }
        }

        .user-type__title {
            font-size: 13px;
        }

        .label-radio-wrapp__label{
            font-size: 13px;
            text-align: left;
        }

        .user-type__list .type-list__item{

            width: 100%;

            &:not(:first-child) {
                margin-left: 0;
            }
        }

        .user-type__list {
            flex-direction: column;

            .type-list__label {
                font-size: 13px;
                text-align: left;
            }
        }

        .button{
            padding: 0 15px;
            padding-top: 10px;
            padding-bottom: 10px;

            p{
                font-size: 14px;
                margin-right: 12px;
            }
        }
    }
}

@media (max-width: 425px){
    
    section.popular-objects {  

        .swiper-container {
            width: 100%;
        }
        .swiper-wrapper {
            margin-top: 30px;
            padding: 25px 0 30px 0px;
        }
    }

    section.work {

        .work-list {
            margin-top: 20px;
        }

        .wrapp-button{
            bottom: -30px;
        }
    }
}

@media (min-width: 426px){
    section.popular-objects .swiper-container {
        width: 105%;
    }
}

