@charset "UTF-8";
.country__name:before {
  content: url("/resources/icons/flag.png");
  padding-right: 10px; }

.page {
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  margin-right: 10px; }
  .page:hover, .page:active, .page.active {
    border-bottom: #E45868 2px solid;
    color: #E45868;
<<<<<<< HEAD
    font-weight: bold; }
=======
    font-weight: bold;
    cursor: pointer; }
>>>>>>> evgenij
    .page:hover svg, .page:active svg, .page.active svg {
      fill: #E45868; }

.pages__count .page {
  width: auto;
  padding-left: 15px;
  color: #0B3158;
  font-size: 15px; }
.pages__count::before {
  content: "Кол-во на странице";
  font-size: 17px;
  margin-right: 10px; }
.pages__count::after {
  content: "🢓";
  font-size: 35px;
  color: #E45868;
  margin-left: -35px;
  vertical-align: bottom;
  line-height: 15px; }

.owl-nav {
  display: block; }
  .owl-nav button {
    width: 45px;
    height: 45px;
    position: absolute;
    margin-top: -25% !important;
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .owl-nav button:hover, .owl-nav button:active {
      background: transparent !important; }
    .owl-nav button span {
      display: none; }
    .owl-nav button:before {
      line-height: 60px; }
    .owl-nav button.owl-next {
      right: -20px; }
      .owl-nav button.owl-next:before {
        content: url("../resources/icons/nextBlue.svg"); }
    .owl-nav button.owl-prev {
      left: -20px; }
      .owl-nav button.owl-prev:before {
        content: url("../resources/icons/prevBlue.svg"); }
@media (min-width: 991px) {
  .owl-dots {
    position: absolute;
    top: -540px;
    left: 20px; } }
.owl-dots span {
  background-color: white !important; }
  @media (max-width: 991px) {
    .owl-dots span {
      background-color: #6283E5 !important;
      opacity: 20%; } }
.owl-dots .active span {
  background-color: #6283E5 !important;
  opacity: 100%; }

.block__elements div {
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 5px; }
  @media (max-width: 991px) {
    .block__elements div {
      font-size: 13px; } }

.borderblock {
  border: 1px solid #BAC4DF;
  border-radius: 10px; }

.map__label {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background: rgba(98, 131, 229, 0.2);
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 40%; }
  .map__label:after {
    content: url("../resources/icons/mapLabel.svg");
    margin: auto;
    position: absolute;
    top: 10px;
    left: 8px; }
.map__inform p::before {
  opacity: 0.7; }
  @media (max-width: 991px) {
    .map__inform p::before {
      display: block; } }
.map__inform .stantion_distance:before {
  content: "Растояние до жд/станции "; }
.map__inform .vokzal_distance:before {
  content: "Растояние до жд/вокзала "; }
.map__inform .distance:before {
  content: "Растояние до "; }

.mobileMenu {
  background: #454EA2; }
  .mobileMenu .dropdown-item {
    border-top: 1px rgba(255, 255, 255, 0.1) solid; }
    .mobileMenu .dropdown-item.active {
      background-color: transparent; }
      .mobileMenu .dropdown-item.active p {
        border-bottom: #E45868 solid 2px;
        width: fit-content; }
  .mobileMenu .dropdown-toggle::after {
    margin: auto;
    margin-right: 0; }
  .mobileMenu .dropdown-menu {
    transform: translate3d(0px, 21px, 0px) !important;
    top: 40px !important;
    background: #454EA2; }

nav .breadcrumb .breadcrumb-item a {
  color: #687A8D; }
nav .breadcrumb .breadcrumb-item.active {
  color: #6283E5; }
nav .breadcrumb .breadcrumb-item:not(:first-of-type):before {
  content: url("../resources/icons/breadcrumbBefore.png"); }

@media (min-width: 991px) {
  .carouselObjectCard {
    padding-right: 20px; } }
.carouselObjectCard__mainImage {
  width: 100%;
  height: 560px;
  margin-bottom: 10px; }
  .carouselObjectCard__mainImage img {
    order: 1;
    width: 100%;
    position: relative;
    height: 100%; }
    @media (min-width: 991px) {
      .carouselObjectCard__mainImage img {
        border-radius: 5px; } }
@media (min-width: 991px) {
  .carouselObjectCard .owl-item img {
    height: 70px;
    border-radius: 5px; } }
.carouselObjectCard .owl-nav {
  display: block; }
  .carouselObjectCard .owl-nav button {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    position: absolute;
    margin-top: -55% !important;
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .carouselObjectCard .owl-nav button span {
      display: none; }
    .carouselObjectCard .owl-nav button:before {
      line-height: 60px; }
    .carouselObjectCard .owl-nav button.owl-next {
      right: 2px; }
      .carouselObjectCard .owl-nav button.owl-next:before {
        content: url("../resources/icons/next.svg"); }
    .carouselObjectCard .owl-nav button.owl-prev {
      left: 2px; }
      .carouselObjectCard .owl-nav button.owl-prev:before {
        content: url("../resources/icons/prev.svg"); }

.likeMark {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  fill: transparent;
  stroke: #B7C2CC;
  stroke-width: 50px; }
  .likeMark.anotherObject {
    right: 0; }
  .likeMark svg {
    overflow: visible; }
  @media (max-width: 991px) {
    .likeMark {
      right: 0; } }
  .likeMark:hover {
    stroke: #E45868; }
  .likeMark:active, .likeMark.active {
    stroke: #E45868;
    fill: #E45868; }

.anotherObjects__price {
  background: #6283E5;
  border-radius: 10px; }
.anotherObjects * {
  color: #0B3158; }
  .anotherObjects * .title {
    font-size: 20px; }
.anotherObjects .item .button {
  position: relative;
  top: 24px; }

.informationBlocks .top .button-blue:hover, .informationBlocks .top .button-blue:active, .informationBlocks .top .button-blue.active {
  color: white;
  background: #6283E5 !important; }
.informationBlocks .addInform:after {
  content: url("../resources/icons/information.svg");
  margin-left: 10px;
  vertical-align: sub; }
.informationBlocks li {
  margin-bottom: 10px; }
  .informationBlocks li p:before {
    content: "•";
    margin-right: 10px;
    color: #E45868;
    font-weight: 900;
    font-size: large;
    line-height: normal; }
.informationBlocks__content .title {
  font-size: 20px; }
  @media (max-width: 991px) {
    .informationBlocks__content .title {
      font-size: 18px; } }
@media (min-width: 991px) {
  .informationBlocks__content__block {
    border: 1px solid #BAC4DF;
    border-radius: 10px; } }
.informationBlocks__content__block__reviews .top.Mobile .sort div:hover, .informationBlocks__content__block__reviews .top.Mobile .sort div:active, .informationBlocks__content__block__reviews .top.Mobile .sort div.active {
  fill: white !important;
  color: white;
  background: #6283E5 !important; }
.informationBlocks__content__block__reviews .top.Desktop.top .wrapper {
  margin-left: auto; }
  .informationBlocks__content__block__reviews .top.Desktop.top .wrapper:after {
    content: url("../resources/icons/find.svg");
    margin-left: -30px;
    vertical-align: middle; }
  .informationBlocks__content__block__reviews .top.Desktop.top .wrapper .input_findReviews {
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 40px;
    text-align: start;
    line-height: 18px;
    height: auto;
    width: auto;
    box-shadow: none;
    border: #CDD3E1 1px solid;
    background: none;
    opacity: 0.7; }
    .informationBlocks__content__block__reviews .top.Desktop.top .wrapper .input_findReviews:hover, .informationBlocks__content__block__reviews .top.Desktop.top .wrapper .input_findReviews:active, .informationBlocks__content__block__reviews .top.Desktop.top .wrapper .input_findReviews.active {
      opacity: 1; }
.informationBlocks__content__block__reviews .top.Desktop.top .sort:after {
  content: url("../resources/icons/selectArow.svg");
  margin-left: -10px;
  position: relative; }
.informationBlocks__content__block__reviews .select {
  padding-right: 20px;
  font-size: 17px;
  color: #6283E5;
  appearance: none;
  outline: none; }
.informationBlocks__content__block__reviews .stars {
  transform: translateY(-3px);
  fill: #F5AE67; }
.informationBlocks__content__block .button {
  background-color: #6283E5;
  height: 50px;
  width: auto;
  padding-left: 20px;
  padding-right: 70px; }
  .informationBlocks__content__block .button:hover, .informationBlocks__content__block .button:active, .informationBlocks__content__block .button.active {
    background-color: #D6A542; }
.informationBlocks__content__block__price .wrapper {
  background-color: #6283E5; }
.informationBlocks__content__block__price__el.disable {
  opacity: 0.5;
  pointer-events: none; }
.informationBlocks__content__block__price__el .button::after {
  transform: scale(0.6);
  text-align: center;
  top: 0px; }
.informationBlocks__content__block__price__el .button:hover::before, .informationBlocks__content__block__price__el .button:active::before, .informationBlocks__content__block__price__el .button.active::before {
  content: "Сделать запрос"; }
@media (max-width: 991px) {
  .informationBlocks__content__block__price__el .button {
    height: 40px;
    font-size: 14px; } }
.informationBlocks__content__block__price__el .button::before {
  content: "Забронировать"; }
.informationBlocks__content__block__price__el span {
  color: #6283E5;
  font-size: 24px; }
  @media (max-width: 991px) {
    .informationBlocks__content__block__price__el span {
      font-size: 18px; } }
@media (max-width: 991px) {
  .informationBlocks__content__block__price__el .type {
    margin-left: auto; } }
.informationBlocks__content__block__price-notIncluded {
  background: rgba(98, 131, 229, 0.05); }
.informationBlocks__content__block__price p {
  font-size: 18px; }
.informationBlocks__content__block__price .title {
  font-size: 22px; }
@media (max-width: 991px) {
  .informationBlocks__content__block__price p.title, .informationBlocks__content__block__price p {
    font-size: 14px; } }
.informationBlocks__content__block__price-Included ul li p::before {
  color: #6283E5; }
.informationBlocks__content__block__price .addInform::after {
  content: url("../resources/icons/informationWhite.svg"); }
.informationBlocks__content .title.count::after {
  content: "15";
  color: white;
  background: #6283E5;
  font-weight: normal;
  font-size: 13px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  vertical-align: text-top; }
.informationBlocks__content p {
  color: #0B3158; }
.informationBlocks__content .content {
  font-size: 18px; }
  @media (max-width: 991px) {
    .informationBlocks__content .content {
      font-size: 14px; } }

.shortInformation {
  height: fit-content; }
  @media (max-width: 991px) {
    .shortInformation .wrapper {
      padding: 0; } }
  .shortInformation .map p {
    color: #0B3158; }
  .shortInformation .map__map {
    height: 400px;
    padding: 0; }
  .shortInformation .map__title__button:hover, .shortInformation .map__title__button:hover svg, .shortInformation .map__title__button:active, .shortInformation .map__title__button:active svg, .shortInformation .map__title__button.active {
    fill: white !important;
    color: white;
    background: #6283E5 !important; }
  .shortInformation .map__title__button svg {
    fill: #6283E5; }
  .shortInformation .sportTypes * {
    color: #0B3158; }
  .shortInformation .sportInfrastructure__title p {
    color: #0B3158; }
  .shortInformation .sportInfrastructure__elements .el {
    height: 45px;
    color: #0B3158;
    padding-bottom: 5px; }
    @media (min-width: 991px) {
      .shortInformation .sportInfrastructure__elements .el {
        padding-right: 5px;
        padding-left: 0px; }
        .shortInformation .sportInfrastructure__elements .el:nth-child(2n) {
          padding-right: 0px;
          padding-left: 5px; } }
    .shortInformation .sportInfrastructure__elements .el .count:after {
      content: " шт."; }
    .shortInformation .sportInfrastructure__elements .el div {
      overflow: hidden; }
      .shortInformation .sportInfrastructure__elements .el div::before {
        margin: auto;
        margin-right: 10px; }
  .shortInformation .sportInfrastructure__elements__poolZone:before {
    content: url("/resources/icons/pool.svg"); }
  .shortInformation .sportInfrastructure__elements__footballZone:before {
    content: url("/resources/icons/football.svg"); }
  .shortInformation .sportInfrastructure__elements__gymZone:before {
    content: url("/resources/icons/gym.svg"); }
  .shortInformation .sportInfrastructure__elements__volleyballZone:before {
    content: url("/resources/icons/volleyball.svg"); }
  .shortInformation .sportInfrastructure__elements__sportZone:before {
    content: url("/resources/icons/sport.svg"); }
  .shortInformation .sportInfrastructure__elements__gymnasticZone:before {
    content: url("/resources/icons/gymnastic.svg"); }
  @media (max-width: 1399px) and (min-width: 991px) {
    .shortInformation .price__Button {
      width: 100%; } }
  @media (max-width: 1399px) and (min-width: 991px) {
    .shortInformation .price__text {
      width: 100%; } }
  .shortInformation .price__text span {
    color: #6283E5; }
    .shortInformation .price__text span:after {
      content: "€";
      color: #0B3158;
      font-weight: 300;
      font-size: 25px;
      padding-left: 10px;
      padding-right: 20px; }
      @media (min-width: 991px) {
        .shortInformation .price__text span:after {
          padding-left: 20px; } }
  .shortInformation .price__text p {
    color: #0B3158; }
  .shortInformation .price__button {
    max-width: 300px; }
    .shortInformation .price__button__text::after {
      content: url("../resources/icons/calculation.png");
      right: 0;
      position: absolute; }
  @media (min-width: 991px) {
    .shortInformation {
      border: 1px solid #BAC4DF;
      border-radius: 10px; } }
  .shortInformation .top__comment .comment {
    font-size: 16px;
    color: #0B3158; }
    @media (max-width: 991px) {
      .shortInformation .top__comment .comment {
        font-size: 13px !important; } }
  .shortInformation .top__comment__rating {
    margin: 0; }
    @media (max-width: 991px) {
      .shortInformation .top__comment__rating {
        margin-right: 0;
        margin-left: auto; } }
    .shortInformation .top__comment__rating .stars {
      transform: translateY(-3px);
      cursor: pointer; }
      .shortInformation .top__comment__rating .stars svg {
        fill: #d5dbe1; }
        .shortInformation .top__comment__rating .stars svg:hover {
          fill: #FFC285; }
        .shortInformation .top__comment__rating .stars svg:active, .shortInformation .top__comment__rating .stars svg.active {
          fill: #F5AE67; }
  .shortInformation .top__comment__comments__text:before {
    content: url("/resources/icons/chat.png");
    padding-right: 10px;
    vertical-align: text-top; }
  .shortInformation .top__comment__country__name {
    color: #6283E5; }
    @media (max-width: 991px) {
      .shortInformation .top__comment__country__name {
        font-size: 14px !important; } }
  .shortInformation__objectName p {
    color: #0B3158 !important; }
    @media (max-width: 991px) {
      .shortInformation__objectName p {
        text-overflow: clip;
        white-space: nowrap; } }

.borderBlock {
  border-bottom: 1px solid rgba(217, 228, 238, 0.5); }
