@import '../scss/variables.scss';

.select-wrapper{
    position: relative;

    span.select-label{
        position: absolute;
        padding: 0 10px;
        padding-bottom: 0;
        font-size: 20px;
        font-weight: 700;
        color: $dark-blue;
        background-color: #fff;
        top: -15px;
        left: 15px;
        z-index: 1010;
    }

    .dropdown{
        width: 100% !important;

        button.dropdown-toggle{
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid $border;
            padding: 16px 25px;
            font-size: 21px;
            font-weight: 400;
            width: -webkit-fill-available;
            text-align: left;
            color: $dark-blue;
            transition: .3s;
            z-index: 1000;

            &:active{
                background-color: #fff;
                border-color: $light-blue;
            }

            &:hover{
                color: $dark-blue;
                border-color: $light-blue;
            } 

            &:focus{
                color: $dark-blue;
                border-color: $light-blue;
                box-shadow: none;
                outline: none;
                outline: 0px auto transparent!important;
                outline-offset: -2px;
            }

            &::after{
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border-top: none;
                border-left: none;
                border-right: 2px solid $red;
                border-bottom: 2px solid $red;
                transform: rotate(45deg);
                top: 35%;
                right: 30px;
            }


        }

        &-menu{
            transition: .3s;
            display: none;
            visibility: hidden;
            opacity: 0;
            z-index: 1500;
            width: 100%;
            margin-top: 10px;
            border-radius: 10px;
            padding: 0;

            &.show{
                
                display: block;
                visibility: visible;
                opacity: 1;
            }
        }

        &-item{
            color: $dark-blue;
            transition: .3s;
            cursor: pointer;
            font-size: 21px;
            padding: 13px 25px;

            &.active{
                background-color: $light-blue;
                color: #fff;

                &:hover{
                    color: #fff;
                    background-color: $light-blue;
                }
            }

            &:hover{
                color: $dark-blue;
                background-color: transparentize($color: $light-blue, $amount: 0.95);
            }

            &:focus{
                outline: none;
            }
        }
    }
}



