.object-block {
  background-color: #fff;
  border-radius: 10px;
  width: 355px !important;
  -webkit-box-shadow: 0px 3px 20px rgba(7, 32, 58, 0.1);
          box-shadow: 0px 3px 20px rgba(7, 32, 58, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.object-block-border {
  border: 1px solid #BAC4DF;
}

.object-block__vip-label {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #E45868;
  padding: 9px 0px 7px;
  width: 90px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  line-height: 1;
  z-index: 10;
}

.object-block__button-delete {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  right: 10px;
  top: 10px;
  z-index: 10;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.object-block__button-delete::before, .object-block__button-delete::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 3px;
  background-color: #E45868;
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 1px;
  top: 18px;
  left: 11px;
}

.object-block__button-delete::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.object-block__button-delete::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.object-block__button-delete:hover {
  background-color: #E45868;
}

.object-block__button-delete:hover::before, .object-block__button-delete:hover::after {
  background-color: #fff;
}

.object-block__img {
  overflow: hidden;
  text-align: center;
  height: 145px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0 0;
}

.object-block__img img {
  height: auto;
  width: 100%;
}

.object-block__content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 25px 50px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.object-block__name {
  text-align: left;
  font-size: 24px;
  color: #2D297D;
}

.object-block__descr {
  margin-top: 15px;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #2D297D;
}

.object-block__cost {
  width: 100%;
  background-color: #6283E5;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  padding: 8px 18px;
  margin-top: 15px;
}

.object-block__cost span {
  font-weight: 500;
  font-size: 19px;
}

.object-block__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.object-block .object-location__flag {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.object-block .object-location__country {
  color: #6283E5;
  font-size: 17px;
  font-weight: 400;
  margin-right: 13px;
}

.object-block .object-location__city {
  font-weight: 300;
  font-size: 16px;
}

.object-block .button {
  position: absolute;
  bottom: -10px;
  left: 30%;
  border-radius: 0;
}

.object-block input[type=checkbox] {
  display: none;
}

.object-block-favorites-wrapp {
  z-index: 10;
}

.object-block-favorites__label {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  padding: 8px 11px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.object-block-favorites__label svg {
  width: 15px;
  height: 15px;
}

.object-block-favorites__label svg path {
  -webkit-transition: .3s;
  transition: .3s;
}

.object-block-favorites__label:hover svg path {
  stroke: #E45868;
}

.object-block-favorites__checkbox:checked + .object-block-favorites__label svg {
  fill: #E45868;
}

.object-block-favorites__checkbox:checked + .object-block-favorites__label svg path {
  stroke: #E45868;
}

.object-block-hor {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.object-block-hor .object-block__header {
  border-bottom: 1px solid rgba(186, 196, 223, 0.3);
}

.object-block-hor .object-block__footer {
  border-top: 1px solid rgba(186, 196, 223, 0.3);
}

.object-block-hor .object-block__content {
  height: 100%;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.object-block-hor .object-block__name {
  width: 75%;
}

.object-block-hor .object-block__img {
  height: auto;
  width: auto;
  border-radius: 10px 0 0 10px;
}

.object-block-hor .object-block__img img {
  height: 100%;
  width: auto;
}

.object-block-hor .object-block__descr {
  margin-top: 0;
  font-weight: 400;
}

.object-block-hor .cost-block__label {
  color: #2D297D;
  line-height: 1.2em;
}

.object-block-hor .cost-block__value {
  color: #6283E5;
}

.object-block-hor .cost-block__value span {
  color: #2D297D;
}

.object-block-hor .button {
  position: relative;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=object-block.css.map */