@charset "UTF-8";
.border-green {
  border-color: #56C46F;
}

.button-blueBorder {
  background: #6283E5;
}

.button-blueBorder.button:hover, .button-blueBorder.button:active, .button-blueBorder.button.active {
  border: #6283E5 1px solid;
  background-color: white;
  color: #6283E5;
}

.button-blueBorder.button:hover p, .button-blueBorder.button:active p, .button-blueBorder.button.active p {
  color: #6283E5 !important;
}

.text-lightBlue {
  color: #6283E5;
}

.border-lightBlue {
  border-color: #6283E5;
}

.border-red {
  border: #E45868 1px solid;
}

.button-red {
  border: #E45868 1px solid;
}

.button-red p {
  color: #E45868;
}

.button-red:active, .button-red:hover, .button-red.active {
  background: #E45868;
  border-color: white;
}

.button-red:active p, .button-red:hover p, .button-red.active p {
  color: white;
}

.content__tenderCatalog .dropdown-toggle.page:after {
  content: "";
}

.content__tenderCatalog .dropdown-toggle:after {
  content: url("../resources/icons/selectArow.svg");
  border-top: none;
  position: absolute;
  right: 10px;
}

.content__tenderCatalog .dropdown-menu {
  -webkit-transform: translate3d(0, 50px, 0) !important;
          transform: translate3d(0, 50px, 0) !important;
}

.content__tenderCatalog .inputInf {
  height: 50px;
  padding: 10px;
  padding-left: 20px;
  opacity: 0.7;
  line-height: 32px;
}

.content__tenderCatalog .inputInf:active, .content__tenderCatalog .inputInf:hover, .content__tenderCatalog .inputInf.active {
  opacity: 1;
}

.content__tenderCatalog p {
  font-size: 18px;
}

@media (max-width: 991px) {
  .content__tenderCatalog p {
    font-size: 14px;
  }
}

.content__tenderCatalog .top {
  background: -webkit-gradient(linear, left bottom, left top, from(#2d297d), to(rgba(45, 41, 125, 0))), url("../resources/images/tenderCatalog/background.png");
  background: linear-gradient(to top, #2d297d, rgba(45, 41, 125, 0)), url("../resources/images/tenderCatalog/background.png");
  background-size: cover;
}

.content__tenderCatalog .top__title {
  font-size: 40px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .top__title {
    font-size: 24px;
  }
}

.content__tenderCatalog .top__button p {
  font-size: 24px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .top__button p {
    font-size: 15px;
  }
}

@media (min-width: 400px) {
  .content__tenderCatalog .top__button p:after {
    content: url("../resources/icons/list.svg");
    margin-left: 20px;
    padding-right: 9px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 15px;
    width: 15px;
    position: relative;
    padding-bottom: 4px;
    padding-left: 11px;
    padding-top: 12px;
  }
}

.content__tenderCatalog .top__text {
  font-size: 22px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .top__text {
    font-size: 14px;
  }
}

.content__tenderCatalog .middle .wrapper {
  background: white;
  padding-right: 40px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .wrapper {
    padding-right: 42px;
    padding-left: 42px;
    background: #f8f9fa;
  }
}

.content__tenderCatalog .middle .filters__sortby {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content__tenderCatalog .middle .options {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: calc((100vw - 1320px)/2);
}

@media (min-width: 991px) {
  .content__tenderCatalog .middle .options {
    width: 30vw;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .content__tenderCatalog .middle .options {
    padding-left: calc((100vw - 1140px)/2);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .content__tenderCatalog .middle .options {
    padding-left: calc((100vw - 960px)/2);
  }
}

@media (max-width: 992px) {
  .content__tenderCatalog .middle .options {
    padding: 0;
    width: 100%;
  }
}

.content__tenderCatalog .middle .options .products div {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__tenderCatalog .middle .options .products.show {
  z-index: 20;
  position: absolute;
  top: 0px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 95px !important;
  left: 0;
}

.content__tenderCatalog .middle .options .search:after {
  content: url("../resources/icons/find.svg");
  margin-left: -40px;
  vertical-align: middle;
}

.content__tenderCatalog .middle .options .search__input {
  padding-left: 20px;
  padding-right: 40px;
}

.content__tenderCatalog .middle .options .filters__all {
  padding-left: 10px;
  padding-right: 0px;
}

.content__tenderCatalog .middle .options .filters__Menu {
  background: none;
}

.content__tenderCatalog .middle .options .filters__Menu__options {
  display: none;
}

.content__tenderCatalog .middle .options .filters__Menu__options .inputWrapper:nth-child(1) {
  padding-right: 5px;
  padding-left: 0px;
}

.content__tenderCatalog .middle .options .filters__Menu__options .inputWrapper:nth-child(2) {
  padding-right: 0px;
  padding-left: 5px;
}

.content__tenderCatalog .middle .options .filters__Menu__trigger {
  background-color: white;
  border: 1px solid #BAC4DF;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.content__tenderCatalog .middle .options .filters__Menu__trigger::after {
  content: url("../resources/icons/settings.svg");
}

.content__tenderCatalog .middle .options .filters__Menu.show {
  background-color: white;
  position: fixed;
  top: 0;
  padding: 40px;
  padding-top: 150px;
  left: 0;
  z-index: 10;
  min-height: 100vh;
  width: 100vw;
}

.content__tenderCatalog .middle .options .filters__Menu.show .filters__Menu__options {
  display: block;
}

.content__tenderCatalog .middle .options .filters__Menu.show .filters__Menu__trigger {
  background: #6283E5;
  right: 0;
  margin-left: auto;
  display: block;
}

.content__tenderCatalog .middle .options .filters__Menu.show .filters__Menu__trigger::before {
  content: "Выберите фильтры";
  font-size: 21px;
  position: absolute;
  left: 40px;
  color: #0B3158;
}

.content__tenderCatalog .middle .options .filters__Menu.show .filters__Menu__trigger::after {
  content: url("../resources/icons/close.svg");
}

@media (min-width: 991px) {
  .content__tenderCatalog .middle .content {
    width: 70vw;
  }
}

@media (max-width: 992px) {
  .content__tenderCatalog .middle .content {
    padding: 0;
    width: 100%;
  }
}

.content__tenderCatalog .middle .content__wrapper {
  padding-right: calc((100vw - 1320px)/2);
}

@media (min-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper {
    padding-left: 40px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .content__tenderCatalog .middle .content__wrapper {
    padding-right: calc((100vw - 1140px)/2);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .content__tenderCatalog .middle .content__wrapper {
    padding-right: calc((100vw - 960px)/2);
  }
}

@media (max-width: 992px) {
  .content__tenderCatalog .middle .content__wrapper {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .content__tenderCatalog .middle .content__wrapper .tenders .tenderNumberBlock {
    border: none;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1480px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__title {
    display: block;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__title .userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__sportType .type::before {
  content: "Вид спорта";
  font-weight: bold;
  font-size: 18px;
  padding-right: 20px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__sportType .type::before {
    font-size: 14px;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__region .region::before {
  width: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "Регион";
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__region .region::before {
    font-size: 14px;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__price *::before {
  width: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__price *::before {
    font-size: 14px;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el .priceMin::before {
  content: "стоимость за человека от";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el .priceMin::before {
    content: "Стоимость   от";
    width: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el .priceMax::before {
  content: "до";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el .peopleCount::before {
  content: "Человек";
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__date .date::before {
  width: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "Дата";
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__date .date::before {
    font-size: 14px;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .requiment:before {
  content: "Требования";
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .requiment:before {
    font-size: 14px;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .comment:before {
  content: "Комментарий";
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .comment:before {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .wrapper {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce {
    display: block !important;
    margin: auto;
    width: 100%;
  }
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce::before {
    position: absolute;
    left: 30px;
  }
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce::after {
    display: block;
    text-align: end;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce::before {
  content: "Откликнуться";
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce:active, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce:hover, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce.active {
  background-color: #79CB8C;
  border: 1px solid #309848;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce:active::before, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce:hover::before, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce.active::before {
  content: "Мой отклик";
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responce::after {
  content: url("../resources/icons/email.svg");
  padding-left: 20px;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responceCount p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responceCount::before {
  content: "количество откликов";
  color: #0B3158;
  padding-right: 15px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responceCount::before {
    content: none;
  }
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .responceCount::after {
    content: "количество откликов";
    color: #0B3158;
    padding-left: 10px;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger::before {
  content: "Открыть полное описание";
  color: white;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger::after {
  content: url("../resources/icons/selectArowWhite.svg");
  padding-left: 15px;
}

@media (max-width: 991px) {
  .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger::after {
    padding-left: 5px;
  }
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger:active::before, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger:hover::before, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger.active::before {
  content: " Закрыть полное описание";
  color: #6283E5;
}

.content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger:active::after, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger:hover::after, .content__tenderCatalog .middle .content__wrapper .tenders__el__comment .trigger.active::after {
  content: " ";
}
/*# sourceMappingURL=tenderCatalog.css.map */