@charset "UTF-8";
.labels__new {
  position: absolute;
  top: 35px;
  right: 230px;
}

.labels_type {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 14px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  line-height: 14px;
}

.labels_type:before {
  content: '';
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.labels_type:after {
  vertical-align: top;
  line-height: 18px;
  font-size: 12px;
}

.labels_type.new {
  background: #DCECC8;
}

.labels_type.new:before {
  background-image: url("../resource/icons/new.svg");
  width: 3px;
  background-size: 3px 16px;
}

.labels_type.new:after {
  color: #1C6031;
  content: "Новое";
  font-size: 14px;
}

.labels_type.practice {
  background: #BEDEF5;
}

.labels_type.practice:before {
  background-image: url("../resource/icons/practice.svg");
}

.labels_type.practice:after {
  color: #15499F;
  content: "Практика";
}

.labels_type.news {
  background: #FFE0B1;
}

.labels_type.news:before {
  background-image: url("../resource/icons/news.svg");
}

.labels_type.news:after {
  color: #F58020;
  content: "Новость";
}

.labels_type.announcement {
  background: #DCECC8;
}

.labels_type.announcement:before {
  background-image: url("../resource/icons/announcement.svg");
}

.labels_type.announcement:after {
  color: #1C6031;
  content: "Объявление";
}

.labels_type.events {
  background: #FCF9C6;
}

.labels_type.events:before {
  background-image: url("../resource/icons/events.svg");
}

.labels_type.events:after {
  color: #C09600;
  content: "Мероприятие";
}

.labels_type.design {
  background: #DFBEDB;
}

.labels_type.design:before {
  background-image: url("../resource/icons/design.svg");
}

.labels_type.design:after {
  color: #4C2E88;
  content: "Дизайн";
}

.labels_type.programming {
  background: #BEDEF5;
}

.labels_type.programming:before {
  background-image: url("../resource/icons/programming.svg");
}

.labels_type.programming:after {
  color: #15499F;
  content: "Программирование";
}

.labels_type.administration {
  background: #B3E0DD;
}

.labels_type.administration:before {
  background-image: url("../resource/icons/administration.svg");
}

.labels_type.administration:after {
  color: #0C4E42;
  content: "Администрирование";
}

.labels_type.vacancy {
  background: #BEDEF5;
}

.labels_type.vacancy:before {
  background-image: url("../resource/icons/vacancy.svg");
}

.labels_type.vacancy:after {
  color: #15499F;
  content: "Вакансия";
}

.labels_type.for_masters {
  background: #FACDD4;
}

.labels_type.for_masters:before {
  background-image: url("../resource/icons/for_masters.svg");
}

.labels_type.for_masters:after {
  color: #B72025;
  content: "Для магистров";
}

.labels_type.extramural {
  background: #EEEEEE;
}

.labels_type.extramural:before {
  background-image: url("../resource/icons/extramural.svg");
}

.labels_type.extramural:after {
  color: #000000;
  content: "Заочная форма";
}

.labels_type.full-time {
  background: #ADD57F;
}

.labels_type.full-time:before {
  background-image: url("../resource/icons/full-time.svg");
}

.labels_type.full-time:after {
  color: #1C6031;
  content: "Очная форма";
}

.labels_type.cplus {
  background: #F8FCFF;
  -webkit-box-shadow: 0px 10px 40px rgba(150, 87, 231, 0.3);
          box-shadow: 0px 10px 40px rgba(150, 87, 231, 0.3);
  border-radius: 10px;
  padding: 18px 30px;
}

.labels_type.cplus:before {
  content: none;
}

.labels_type.cplus:after {
  content: "";
  background-image: url("../resource/icons/cplus.svg");
  width: 40px;
  height: 45px;
  display: inline-block;
}

.labels_type.dotnet {
  background: #F8FCFF;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 133, 255, 0.3);
          box-shadow: 0px 10px 40px rgba(0, 133, 255, 0.3);
  border-radius: 10px;
  padding: 14px 20px;
}

.labels_type.dotnet:before {
  content: none;
}

.labels_type.dotnet:after {
  content: "";
  background-image: url("../resource/icons/dotnet.svg");
  width: 32px;
  height: 12px;
  display: inline-block;
}

.labels_type.vue {
  background: #F8FCFF;
  -webkit-box-shadow: 0px 10px 40px rgba(65, 184, 131, 0.3);
          box-shadow: 0px 10px 40px rgba(65, 184, 131, 0.3);
  border-radius: 10px;
  padding: 14px 20px;
}

.labels_type.vue:before {
  content: none;
}

.labels_type.vue:after {
  content: "";
  background-image: url("../resource/icons/vue.svg");
  width: 33px;
  height: 29px;
  display: inline-block;
}

.labels_type.css {
  background: #F8FCFF;
  -webkit-box-shadow: 0px 10px 40px rgba(231, 83, 0, 0.3);
          box-shadow: 0px 10px 40px rgba(231, 83, 0, 0.3);
  border-radius: 10px;
  padding: 10px 16px;
}

.labels_type.css:before {
  content: none;
}

.labels_type.css:after {
  content: "";
  background-image: url("../resource/icons/css.svg");
  width: 14px;
  height: 13px;
  display: inline-block;
}

.labels_type.donnu {
  padding: 0;
  width: 100%;
}

.labels_type.donnu.small {
  height: 85px;
}

.labels_type.donnu.small:after {
  height: 85px;
}

.labels_type.donnu.large {
  height: 95px;
}

.labels_type.donnu.large:after {
  height: 95px;
}

.labels_type.donnu:before {
  content: none;
}

.labels_type.donnu:after {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  background-image: url("../resource/icons/donnu.png");
  width: 100%;
  display: inline-block;
}

.labels_type.facult {
  padding: 0;
  width: 100%;
}

.labels_type.facult.small {
  height: 85px;
}

.labels_type.facult.small:after {
  height: 85px;
}

.labels_type.facult.large {
  height: 95px;
}

.labels_type.facult.large:after {
  height: 95px;
}

.labels_type.facult:before {
  content: none;
}

.labels_type.facult:after {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  background-image: url("../resource/icons/fiz-teh.png");
  width: 100%;
  display: inline-block;
}

.labels_type.video {
  background: #D8EBFE;
  border-radius: 0;
}

.labels_type.video.small {
  padding: 20px;
}

.labels_type.video.small:after {
  background-size: 50px;
  background-position-y: -4px;
  width: 38px;
  height: 38px;
}

.labels_type.video.large {
  padding: 30px;
}

.labels_type.video.large:after {
  background-size: 105px;
  background-position-y: -10px;
  width: 70px;
  height: 70px;
}

.labels_type.video:before {
  content: none;
}

.labels_type.video:after {
  background-position: center;
  border-radius: 50%;
  content: "";
  background-image: url("../resource/icons/video.svg");
  display: inline-block;
}

.labels_type.image {
  background: #D8EBFE;
  border-radius: 0;
}

.labels_type.image.small {
  padding: 20px;
}

.labels_type.image.small:after {
  background-size: 50px;
  background-position-y: -4px;
  width: 33px;
  height: 33px;
}

.labels_type.image.large {
  padding: 30px;
}

.labels_type.image.large:after {
  background-size: 105px;
  background-position-y: -10px;
  width: 70px;
  height: 70px;
}

.labels_type.image:before {
  content: none;
}

.labels_type.image:after {
  background-position: center;
  border-radius: 10%;
  content: "";
  background-image: url("../resource/icons/image.svg");
  display: inline-block;
}
/*# sourceMappingURL=labels.css.map */